input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.option-buttons {
    color: white;
    font-weight: 600;
    border: solid 1px #fff;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease;

    &:hover {
        background: white;
        color: #000;
        box-shadow: 0 0 10px #fff;
    }

}
.option-buttons.opt-activce {
    background: white;
    color: #000;
    box-shadow: 0 0 10px #fff;
}

input:checked + label {
    background: white;
    color: #000;
}

.loader {
  border: 4px solid transparent;
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


